#grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  div > div {
    padding: 10px;
    background-color: white;
    height: 200px
  }
h1,
h2 {
    text-align: center;
}
 div:hover {
    background-color: black;
 }